
  .image_swiper {
    width: 100% !important;
    height: 920px !important;
    transition: transform ease-in-out 0.3s !important;
}
.image_swiper:hover{
  transform: scale(1.2) !important;
}

.text_2 {
  color: whitesmoke !important;
  font-size: 24px !important;
  /* letter-spacing: 0.5px !important; */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  position: absolute !important;
  top: 50% !important;
  left: 20% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  text-align: center !important;
}


.image_header_2:hover .overlay_2 {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.overlay_2 {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 100% !important;
  width: 100% !important;
  transform: scale(0.3) !important;
  opacity: 0 !important;
  transition: .5s ease !important;
 
}