  .image_Swiper {
    width: 100% !important;
    height: 920px !important;
    transition: transform ease-in-out 0.3s !important;
  }

  .image_Swiper:hover {
    transform: scale(1.2) !important;
  }