.Loazene {
    padding-top: 25px !important;
    font-family: sans-serif !important;
    font-size: 20px !important
}

.Heat_line {
    padding-top: 25px !important;
    font-family: sans sarif !important;
    font-size: 30px !important;
    letter-spacing: 2px !important
}

.available_line {
    padding-top: 25px !important;
    font-size: 18px !important;
     color: #87868a !important;
     letter-spacing: 0.5px  !important 
}
.Learn_more{
    width: 174px !important;
    height: 65px !important;
     background-color: #ffd763 !important;
     color: black !important;
     border-width: 0px !important
}
.Learn_more:hover{
        background-color: #09aeb8 !important;
        color: white !important;
}