.Services_Box {
    padding-top: 85px !important;
    background-color: #f4f4f4;
}

.service_header {
    width: 370px !important;
    height: 550px !important;
    margin-right: 64px !important;
}

.Services_Head {
    text-align: center !important;
    font-size: 54px !important;
    color: #38373c !important;
    font-family: 'Josefin Sans', sans-serif !important;
}

.service_image {
    padding: 10px;
}

.Service_Data {
    margin-left: 250px !important;
    margin-right: 250px !important;
}

.Cooling_Service {
    padding: 30px !important;
    margin-left: 28px !important;
}

.overtimes_main {
    margin: 0 -250px;
}

.paragraph_Title {
    font-size: 16px !important;
    font-family: 'Josefin Sans', sans-serif !important;
    color: #38373c !important;
    letter-spacing: 0.5px !important;
}

.button_learn {
    width: 100% !important;
    height: 50px !important;
    background-color: #ffd763 !important;
}

.buttonic {
    padding-top: 1px !important;
}

.overtimes {
    padding: 120px 0px 0px 0px !important
}

.overtime_days {
    padding-top: 85px !important;
    background-color: #ffd763 !important;
    padding-bottom: 85px !important;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.snow_img {
    width: 25px !important;
    height: 25px !important;
}

.quote_free {
    width: 178px !important;
    height: 43px !important;
    background-color: #38373c !important;
    color: white !important;
    border-width: 0px !important;
}

.quote_free:hover {
    background-color: #09aeb8 !important;
    color: white !important;
}

.charges {
    padding-left: 245px !important;
    font-size: 40px !important;
    font-family: 'Josefin Sans', sans-serif !important;
}

.overtime_days2 {
    padding: 105px 30px !important;
    background-color: #ffd763 !important;

}